body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
h1{
    color: #333;
}
#taskInput{
    width: 200px;
    padding: 5px;
}
#addTaskBtn{
    padding: 5px 10px;
    margin-left: 5px;
}
#taskList{
    margin: 2px 0;
}